[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cholera"]
	path = cholera
	url = https://github.com/lindbrook/cholera
[submodule "packageRank"]
	path = packageRank
	url = https://github.com/lindbrook/packagerank
